.left-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #00c9ff;
    padding-bottom: 5px;
}

.event-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s;
}

@keyframes animation1 {
    from{ margin-left: 0px;}
    to{ margin-left: -300px;}
}

@keyframes animation2 {
    from{ transform: translateX(120%);}
    to{ transform: translateX(-120%);}
}


.event-img {
    width: 55px;
    height: 55px;
    background: #d9d9d9;
    border-radius: 4px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.event-img.hamlet { background-image: url("images/hamlet.png"); }
.event-img.barismanco { background-image: url("images/Barismanco.jpg"); }
.event-img.starfall { background-image: url("images/starfall.png"); }
.event-img.tempest { background-image: url("images/tempets.png"); }
.event-img.intergalactic { background-image: url("images/cosmic.png"); }

.event-infoani{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
}


.event-info h3 {
    font-size: 15px;
    margin: 0;
}

.event-info p {
    font-size: 13px;
    color: #1b1616;
    margin-top: 2px;
}
